* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    overflow: hidden;
}
body{

    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    line-height: 1.58;
    color: #333;
}
button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}
button:disabled{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.25;
    pointer-events: none;
}
input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.fa{
    pointer-events: none;
}
h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}
button {

    text-align: center;
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 1px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}
.odkryty{
    background-color: #C0C0C0;
    color: #0000FD;
    border: solid 1px #808080;
}

button.accent {
    font-size: 18px;
    min-height: 40px;
    padding: 0.6rem 3rem;
    background-color: #ff4743;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}
.pojemnik{
    margin: 20px auto 0 auto;
    height: 450px;
    width: 450px;

}
.naglowek{
    position: relative;
    height: 50px;
    padding: 10px;
    color: yellow;
    font-size: 25px;
    text-align: center;
    background-color: #CDD0D1;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,0.84), inset -2px -2px 2px 0px rgba(0,0,0,0.84);
    -moz-box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,0.84), inset -2px -2px 2px 0px rgba(0,0,0,0.84);
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,0.84), inset -2px -2px 2px 0px rgba(0,0,0,0.84);
}
#licznikFlag{
    float: left;
    height: 30px;
    width: 40px;
    background-color: #222222;
    font-size: 20px;
    display: table
}
.zasloniety{
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,0.84), inset -2px -2px 2px 0px rgba(0,0,0,0.84);
    -moz-box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,0.84), inset -2px -2px 2px 0px rgba(0,0,0,0.84);
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,0.84), inset -2px -2px 2px 0px rgba(0,0,0,0.84);
}
.kafelek{
    float: left;
    background-color: #CDD0D1;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.kursor{
    cursor: pointer;
}
#buzka{
    position: absolute;
    left: 48%;
    height: 20px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #222222;
    margin-bottom: 20px;
    display: table
}

#czasomierz{
    font-size: 20px;
    text-align: center;
    float: right;
    height: 30px;
    width: 48px;
    background-color: #222222;
    display: table;
}
#stage1{
    padding-top: 150px;
}
.card-my {

    min-height: 630px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 1px 11px 0 rgba(0,0,0,0.27);
    transition: 0.3s;
    background-color: #FFF;


    max-height: 630px;
    position: relative;
}
.form-control{
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid
    #c8c8c8;
}
.sendName {
    text-align: center;
    padding: 35px 55px 35px;
    min-height: 250px;
    border-radius: 2px;

    /* Add shadows to create the "card" effect */
    box-shadow: 0 1px 11px 0 rgba(0,0,0,0.27);
    transition: 0.3s;
    background-color: #ffffff;


    max-height: 600px;
    position: relative;
}
.hidden {
    display: none;
}
/* On mouse-over, add a deeper shadow */


/* Add some padding inside the card container */
.container-fluid {
    width: 80%;
    padding-top: 3rem;
    height: 100%;
}
.container-chat  {

    padding: 2px 16px;
}
#role{
    padding-top: 20px;
    text-align: right;
}
.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #f0f0f0;
}
#stage2 ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 0px;
    padding-bottom: 10px;
    height: 480px;
}
.chat-header h2 {
    margin: 0;
    font-weight: 500;
}
.form-group {
    margin-bottom: 15px;
}
body{
    height: 100%;
    background-color: #00b7ff;
}
#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}
#card-my #messageForm {
    padding: 20px;
}
.input-group{
    padding-top: 10px;
    position: relative;
    display: flex;
    border-collapse: separate;
}
#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}
.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}
#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}
#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}
#stage2 .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}
#stage2 .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}
#stage2 .chat-message p {
    color: #43464b;
}
#stage2 ul li {
    margin: 0;
}
#stage2 ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}
#stage2 .chat-message span {
    color: #333;
    font-weight: 600;
}
#stage2 .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}
p {
    margin: 10px 0 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#stage2 .chat-message p {
    color: #43464b;
}
#stage2 .chat-message {
    padding-left: 68px;
    position: relative;
}